html {
  font-size: 62.5%;
}

body {
  @include base-font;
}


/* Custom bootstrap base styles */

.bg-dark {
  background-color: $c-dark!important;
}

.ad-full {
  img {
    width: 100%;
  }
}

.ad-col {
  margin-bottom: 4.5rem;
}