@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

@mixin base-font {
  font-family: $f-base;;
  font-size: 1.6rem;
  font-weight: 400;
}

@mixin medium-font {
  font-family: $f-base;
  font-size: 1.6rem;
  font-weight: 500;
}

@mixin bold-font {
  font-family: $f-base;
  font-size: 1.6rem;
  font-weight: 600;
}

@mixin title-sm {
  font-family: $f-base;
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}