/* Colors */

$c-primary: #6a00d6;

$c-white: #fff;
$c-dark: #1f1f1f;

$c-lightgrey: #f5f5f5;
$c-grey: #ababab;
$c-mediumgrey: #bfbfbf;
$c-darkgrey: #262626;

/* Fonts */

$f-base: 'Roboto', sans-serif;