.block-trending {
  background-color: $c-lightgrey;
  padding: 8rem 4rem 4rem;
  position: relative;
  &__star {
    background: url("../img/icons-sprite.png") no-repeat 0 0 scroll transparent;
    display: block;
    position:absolute;
    height: 7rem;
    top: -3rem;
    left: 50%;
    width: 7rem;
    margin-left: -3.5rem;
  }
  &__headline {
    @include title-sm;
    border-bottom: 1px solid $c-grey;
    font-size: 1.4rem;
    display: inline-block;
    margin-bottom: 2rem;
  }
  &__list {
    list-style: none;
    margin-inline-start: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
  }
  &__list-item {
    margin-bottom: 2rem;
  }
  &__list-date, &__list-author {
    @include title-sm;
    color: $c-grey;
    font-size: 1.2rem;
  }
  &__list-headline {
    @include bold-font;
    color: $c-dark;
  }
}