/* Base styles*/
/* Colors */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
html {
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400; }

/* Custom bootstrap base styles */
.bg-dark {
  background-color: #1f1f1f !important; }

.ad-full img {
  width: 100%; }

.ad-col {
  margin-bottom: 4.5rem;
  width: 100%; }

/* Customize bootstrap components */
.porygon-navbar .navbar {
  border-top: 2px solid #6a00d6;
  color: #f5f5f5;
  padding: 2.5rem 3rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase; }
.porygon-navbar .nav-item {
  padding: 0 1rem; }
.porygon-navbar .navbar-brand img {
  width: 13rem; }
.porygon-navbar__user {
  background: url("../img/icons-sprite.png") no-repeat -1.1rem -20rem scroll transparent;
  display: block;
  height: 5rem;
  width: 6rem; }
.porygon-navbar__search {
  background: url("../img/icons-sprite.png") no-repeat 0 -27rem scroll transparent;
  display: block;
  height: 4rem;
  padding-left: 2rem;
  width: 5rem;
  opacity: 0.5; }

.btn.btn-default {
  background-color: #6a00d6;
  border-radius: 0;
  color: #fff;
  padding: 1rem 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  width: 20rem; }

/* Components */
.photo-block-intro {
  position: relative; }
  .photo-block-intro__photo {
    width: 100%; }
    .photo-block-intro__photo--tab {
      width: 7rem;
      height: 7rem; }
  .photo-block-intro__content {
    bottom: 0;
    color: #fff;
    padding: 4.5rem;
    position: absolute; }
    @media (max-width: 768px) {
      .photo-block-intro__content {
        padding-bottom: 0.5rem; } }
  .photo-block-intro__headline {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    font-size: 3.4rem;
    margin-bottom: 4.5rem;
    width: 60%; }
    @media (max-width: 768px) {
      .photo-block-intro__headline {
        font-size: 2rem;
        width: 100%;
        margin-bottom: 0.5rem; }
        .photo-block-intro__headline:nth-child(2), .photo-block-intro__headline:nth-child(3) {
          font-size: 1.5rem; } }
  .photo-block-intro__author {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase; }
    .photo-block-intro__author a {
      color: #fff;
      border-bottom: 1px solid #fff; }
  .photo-block-intro__num {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    letter-spacing: 0;
    background-color: #fff;
    border-radius: 50%;
    color: #1f1f1f;
    height: 3.5rem;
    width: 3.5rem; }
  .photo-block-intro--tab .photo-block-intro__headline {
    width: 80%; }
  .photo-block-intro .icon-play {
    background: url("../img/icons-sprite.png") no-repeat 0 -96px scroll transparent;
    display: block;
    position: absolute;
    height: 7rem;
    top: 45%;
    left: 50%;
    width: 7rem;
    margin-left: -3.5rem; }

.tabs-main__intro h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-size: 1.4rem; }
.tabs-main__intro a {
  color: #6a00d6;
  border-bottom: 1px solid #6a00d6; }
.tabs-main__tab {
  background-color: #1f1f1f;
  border-bottom: 1px solid rgba(245, 245, 245, 0.5); }
  .tabs-main__tab.active {
    background-color: #262626; }
  .tabs-main__tab:last-child {
    border-bottom: none; }
  .tabs-main__tab h3 {
    color: #fff;
    font-weight: normal;
    font-size: 1.6rem; }
  .tabs-main__tab a {
    color: #bfbfbf;
    font-weight: normal;
    font-size: 1.6rem; }
.tabs-main .nav-tabs {
  height: 100%;
  border-bottom: none; }

.block-news__new {
  margin-bottom: 4.5rem; }
.block-news__img {
  position: relative;
  margin-bottom: 2.5rem; }
  .block-news__img img {
    width: 100%; }
.block-news__tag {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  background-color: #fff;
  color: #ababab;
  position: absolute;
  bottom: 0;
  padding: 0.5rem; }
.block-news__headline {
  font-size: 2.5rem;
  margin-bottom: 1.5rem; }
.block-news__author {
  text-transform: uppercase;
  margin-bottom: 1.5rem; }
  .block-news__author a {
    color: #6a00d6;
    border-bottom: 1px solid #6a00d6;
    padding-bottom: 0.5rem; }
.block-news__text {
  color: #ababab;
  line-height: 2.5rem; }
.block-news__see-more {
  background-color: #f5f5f5;
  padding: 2rem 0;
  margin-top: 3rem; }
  .block-news__see-more a {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    color: #6a00d6;
    font-size: 1.6rem; }

.porygon-footer {
  height: 62.5rem;
  padding: 6.5rem 0; }
  @media (max-width: 768px) {
    .porygon-footer {
      min-height: 100%;
      height: 100%; } }
  .porygon-footer .container, .porygon-footer .d-flex, .porygon-footer .col-md-6 {
    height: 100%; }
  .porygon-footer__up a {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    color: #ababab; }
  .porygon-footer__up h4 {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 2rem; }
  .porygon-footer__down {
    width: 50%;
    color: #ababab;
    font-size: 1.2rem; }
    .porygon-footer__down .navbar-nav {
      flex-direction: row; }
    .porygon-footer__down a {
      color: #ababab;
      font-size: 1.2rem;
      position: relative;
      padding-right: 1rem; }
  .porygon-footer__logo {
    margin-bottom: 4.5rem;
    opacity: 0.5;
    width: 18rem; }
  .porygon-footer .input-group input {
    background: none;
    border-width: 0 0 2px 0;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    padding: 22px 0px;
    width: 60%; }

.block-trending {
  background-color: #f5f5f5;
  padding: 8rem 4rem 4rem;
  position: relative; }
  .block-trending__star {
    background: url("../img/icons-sprite.png") no-repeat 0 0 scroll transparent;
    display: block;
    position: absolute;
    height: 7rem;
    top: -3rem;
    left: 50%;
    width: 7rem;
    margin-left: -3.5rem; }
  .block-trending__headline {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    border-bottom: 1px solid #ababab;
    font-size: 1.4rem;
    display: inline-block;
    margin-bottom: 2rem; }
  .block-trending__list {
    list-style: none;
    margin-inline-start: 0;
    margin-block-start: 0;
    padding-inline-start: 0; }
  .block-trending__list-item {
    margin-bottom: 2rem; }
  .block-trending__list-date, .block-trending__list-author {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    color: #ababab;
    font-size: 1.2rem; }
  .block-trending__list-headline {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    color: #1f1f1f; }
