.porygon-navbar {
  .navbar {
    border-top: 2px solid $c-primary;
    color: $c-lightgrey;
    padding: 2.5rem 3rem;
    @include title-sm;
  }
  .nav-item {
    padding: 0 1rem;
  }
  .navbar-brand {
    img {
      width: 13rem;
    }
  }
  &__user {
     background: url("../img/icons-sprite.png") no-repeat -1.1rem -20rem scroll transparent;
     display: block;
     height: 5rem;
     width: 6rem;
   }
  &__search {
     background: url("../img/icons-sprite.png") no-repeat 0 -27rem scroll transparent;
     display: block;
     height: 4rem;
      padding-left: 2rem;
     width: 5rem;
    opacity: 0.5;
   }
}