.porygon-navbar {
  .navbar {
    border-top: 2px solid $c-primary;
    color: $c-lightgrey;
    padding: 2.5rem 3rem;
    @include title-sm;
  }
  .nav-item {
    padding: 0 1rem;
  }
  .navbar-brand {
    img {
      width: 13rem;
    }
  }
}